.container {
	font-family: 'Trebuchet MS';

	.body {
		font-family: inherit;
		border: none;
		cursor: pointer;
		position: relative;
		width: 20rem;
		height: 30rem;
		border-right: 4px solid #1698D9;
		overflow: hidden;
		border-radius: 10px;
		background: linear-gradient(135deg, transparent 2.5em, #fff 0);

		&:disabled {
			border-color: #B3B3B3;
			background-color: linear-gradient(135deg, transparent 2.5em, #F2F2F2 0) ;
		}

		&:disabled .weight{
			background: #B3B3B3;
		}

		&:disabled:hover {
			border-color: #B3B3B3;
		}

		&:disabled .text .brand,
		&:disabled .text .slogan,
		&:disabled .text .tasty,
		&:disabled .text .description {
			color: #B3B3B3;
		}

		&:hover {
			border-color: #2EA8E6;
		}

		&:hover .weight {
			background: #2EA8E6;
		}

		&:disabled:hover .weight {
			background: #B3B3B3;
		}

		&:hover~.CallToAction .button {
			color: #2EA8E6;
		}

		&_selected {
			border-color: #D91667;
		}

		// Состояние наведения применяется к выбранной упаковке не сразу, а после того, как курсор ушел с нее после первоначального выбора.
		&_selected:hover {
			border-color: #D91667;
		}

		&_selectedHover {
			border-color: #D91667;
		}

		&_selectedHover:hover {
			border-color: #E52E7A;
		}

		// Состояние наведения применяется к выбранной упаковке не сразу, а после того, как курсор ушел с нее после первоначального выбора.
		&_selected:hover .weight {
			background: #D91667;
		}

		&_selectedHover:hover .weight {
			background: #E52E7A;
		}



		&:after {
			content: "";
			position: absolute;
			width: calc(100% - 0px);
			right: 0;
			z-index: 1;
			height: 10%;
			top: 0px;
			border-style: solid;
			border-color: #1698D9;
			border-width: 4px 0 0px 6px;
			transform: skew(-45deg);
			transform-origin: left bottom;
		}

		&:hover:after {
			border-color: #2EA8E6;
		}

		&:disabled:after {
			border-color: #B3B3B3;
		}

		&_selected:after {
			border-color: #D91667;
		}

		// Состояние наведения применяется к выбранной упаковке не сразу, а после того, как курсор ушел с нее после первоначального выбора.
		&_selected:hover:after {
			border-color: #D91667;
		}

		&_selectedHover:after {
			border-color: #D91667;
		}

		&_selectedHover:hover:after {
			border-color: #E52E7A;
		}

		&_disabled:after {
			pointer-events: none;
			opacity: 0.4;
		}

		&:before {
			content: "";
			position: absolute;
			width: calc(100% - 4px);
			right: 0px;
			z-index: 1;
			height: calc(90% - 2px);
			bottom: 0px;
			border-style: solid;
			border-color: #1698D9;
			border-width: 0px 0 4px 4px;
		}

		&:hover:before {
			border-color: #2EA8E6;
		}

		
		&:disabled:before {
			border-color: #B3B3B3;
		}

		&_selected:before {
			border-color: #D91667;
		}

		// Состояние наведения применяется к выбранной упаковке не сразу, а после того, как курсор ушел с нее после первоначального выбора.
		&_selected:hover:before {
			border-color: #D91667;
		}

		&_selectedHover:before {
			border-color: #D91667;
		}

		&_selectedHover:hover:before {
			border-color: #E52E7A;
		}

		.text {
			position: absolute;
			top: 6.1%;
			left: 16%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			text-align: start;

			.slogan {
				font-weight: normal;
				font-size: 1rem;
				color: #666666;
				margin-bottom: 18%;

				&::first-letter {
					font-size: 130%;
				}
			}

			.brand {
				text-indent: -0.7mm;
				line-height: 0;
				font-weight: bold;
				font-size: 3rem;
				color: #000000;
				margin-bottom: 19.5%;

				&::first-letter {
					font-size: 130%;
					font-weight: normal;
					letter-spacing: 0;
				}
			}

			.tasty {
				font-weight: bold;
				font-size: 1.5rem;
				color: #000000;
				margin-bottom: 14.5%;
			}

			.description {
				display: flex;
				flex-direction: column;
				align-items: start;
				font-weight: normal;
				font-size: .9rem;
				color: #666666;
				line-height: 1rem;
			}

			&>* {
				line-height: 0;
			}
		}

		.img {
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 0;
		}

		&:disabled .img {
			opacity: 0.65;
		}

		.weight {
			position: absolute;
			bottom: 3.1%;
			right: 3.1%;
			height: 5rem;
			width: 5rem;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			color: #ffff;
			background: #1698D9;

			&_selected {
				background: #D91667;
			}

			.amount {
				font-size: 2.625rem;
			}

			.measure {
				font-size: 1.3rem;
				line-height: 1rem;
			}
		}

	}

	.CallToAction {
		font-family: inherit;
		margin-top: 4%;
		display: flex;
		justify-content: center;
		font-size: 0.813rem;
		font-weight: normal;
		color: #fff;

		.text {
			font-family: inherit;
			font-size: 0.813rem;
		}

		.button {
			font-family: inherit;
			padding: 0;
			cursor: pointer;
			text-decoration: none;
			border: none;
			border-bottom: 2px dashed;
			background: rgba(0, 0, 0, 0);
			color: #1698D9;
		}

		.notAvailable {
			font-family: inherit;
			color: #FFFF66;
		}
	}
}