@font-face {
	font-family: "Trebuchet MS";
	font-weight: normal;
	src: url("./trebuc.ttf") format("ttf");
}

@font-face {
	font-family: "Trebuchet MS";
	font-weight: bold;
	src: url("./trebuchet-ms-bold.ttf") format("ttf");
}